<!--Directive part-->

<!--<ng-container *ngIf="true">-->
<!--&lt;!&ndash;<h1 *ngFor="let item of [1, 2, 3]">Should  be here</h1>&ndash;&gt;-->
<!--<h1 [appHighlight]="'#ccc'" >Should  be here</h1>-->
<!--  <p appHighlight>lorem ipsum</p>-->
<!--  <p>lorem ipsum</p>-->
<!--</ng-container>-->

<!--<div *appIfResponsive="640">-->
<!--  Very long content should hide on mobile-->
<!--</div>-->

<!--<div [ngSwitch]="switchValue">-->
<!--  <div *ngSwitchCase="1">Case1</div>-->
<!--  <div *ngSwitchCase="2">Case2</div>-->
<!--  <div *ngSwitchCase="3">Case2</div>-->
<!--  <div *ngSwitchDefault>Case5</div>-->
<!--</div>-->

<!--<ng-template [ngIf]="true">-->
<!--  <div>-->
<!--    Some text-->
<!--  </div>-->
<!--</ng-template>-->

<!--<div *appIfResponsive="650">-->
<!--  No responsive block-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>

  </div>
</div>
