<div class="row">
  <div class="col-sm-12">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 ngModel
                 name="name"
                 required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                 ngModel
                 required
                 pattern="^[0-9]+[0-9]*"
                 name="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mb-2">
          <button class="btn btn-success mr-1"
                  type="submit"
                  [disabled]="form.invalid"
                  [innerHTML]="isEdit ? 'Edit' : 'Add'"
          ></button>
          <button *ngIf="isEdit" class="btn btn-danger mr-1"
                  type="button"
                  (click)="onDelete()"
          >Delete</button>
          <button class="btn btn-primary mr-1"
                  type="button"
                  (click)="onClear()"
          >Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
