<ng-container *ngIf="!car">
  <h3>Please choose car</h3>
</ng-container>
<ng-container *ngIf="!!car">
<div class="row">
  <div class="col-xs-12">

    <img src="{{car.imagePath}}"
         alt="{{car.name}}"
         style="max-width: 400px"
         class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Car Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button appDropdown
        type="button"
        class="btn btn-primary dropdown-toggle open">
        Manage Car <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#" (click)="addParts()">To Parts Storage</a></li>
        <li class="dropdown-item"><a [routerLink]="['/cars', 'edit', car.id ]">Edit Car</a></li>
        <li class="dropdown-item"><a href="#" (click)="deleteCar(car.id)">Delete Car</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Parts
  </div>
</div>
</ng-container>
