<h1>App is working!!!</h1>
<!--<app-zone></app-zone>-->
<!--<app-change-1 [config]="config"></app-change-1>-->
<!--<button (click)="onClick()">Trigger change detection</button>-->
<!--<input (input)="onClick()">-->
<!--<div (mousedown)="onClick()">Some div</div>-->
<!--<app-change-2></app-change-2>-->
<!--<app-change-3></app-change-3>-->
<!--<app-change-4 [$items]="itemsObs"></app-change-4>-->
<!--<button (click)="sendNewItems()">New items</button>-->
<!--<button (click)="changeName()">Change name</button>-->
<app-perf></app-perf>
